/* CSS Reset */
/*
1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
2. Remove default margin
*/
* {
    margin: 0;
    padding: 0;
}

/*
3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

/*
6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    max-width: 100%;
}

/*
7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1.1;
}

/* General Styling */

:root {

    /* Colors */
    /* Primary  */
    --first-color: hsl(185, 75%, 39%);
    --second-color: hsl(229, 23%, 23%);
    --third-color: hsl(227, 10%, 46%);

    /* Neutral  */
    --fourth-color: hsl(0, 0%, 59%);

    /* Typography */
    /* Body Copy  */
    --fs-name-and-stats: 18px;

    /* Font  */
    --ff-primary: 'Kumbh Sans',
        sans-serif;
    --fw-400: 400;
    --fw-700: 700;
}

body {
    background-image:
        url(images/bg-pattern-top.svg),
        url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position:
        right 50vw bottom 50vh,
        left 50vw top 50vh;
    background-color: var(--first-color);
    color: var(--fourth-color);
    font-family: var(--ff-primary);

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 90vw;
    min-height: 50vh;
    border-radius: .5rem;
    overflow: hidden;
}

header {
    width: 100%;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 59%, .2);
    padding-bottom: 1rem;
    gap: 1.5rem;
    /* background-color: orangered; */
}

main img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid white;
    margin-top: -20%;
}

main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: var(--fw-700);
    color: var(--second-color);
    font-size: var(--fs-name-and-stats);
}

span {
    font-weight: var(--fw-400);
    color: var(--third-color);
}

footer {
    padding: 1.5rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.num {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.num p {
    font-size: .7rem;
}

@media(min-width:375px) {
    .card {
        width: 80vw;
    }

    main img {
        margin-top: -19%;
    }
}

@media(min-width:425px) {
    .card {
        width: 70vw;
    }
}

@media(min-width:768px) {
    .card {
        width: 40vw;
    }
}

@media(min-width:1024px) {
    .card {
        width: 30vw;
        min-height: 50vh;
    }
}

@media(min-width:1440px) {
    .card {
        width: 25vw;
        min-height: 40vh;
    }

    main img {
        margin-top: -16%;
    }

}

@media(min-width:2560px) {
    main img {
        margin-top: -9%;
    }

    h2 {
        font-size: 2rem;
    }

    .num p {
        font-size: 1.2rem;
    }

    main div p {
        font-size: 1.5rem;
    }
}